<header style="margin-bottom: 1em;">
    <link rel="icon" type="image/x-icon" href="/imgs/ENI-Encheres-Logo-Small.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <div class="eni-header-container">
        <a href="/" style="width: 40%;">
            <picture>
                <source srcset="/imgs/ENI-Encheres-Logo.png" media="(min-width: 751px)">
                <img class="eni-encheres-logo" src="/imgs/ENI-Encheres-Logo-Small.png" alt="LogoSmall" style="height: 4.5em;"/>
            </picture>
        </a>
        <nav>
            <section sec:authorize="isAuthenticated()" style="display: flex; justify-content: right;">
                <form method="get" action="/admin" sec:authorize="hasRole('admin')">
                    <button class="eni-button">
                        <i class="bi bi-clipboard2-minus"></i> <!-- Icône pour le panel admin -->
                    </button>
                </form>
                <form method="get" action="/nouvelleVente" sec:authorize="!hasRole('disabled')"  style="margin-left: 10px">
                    <button class="eni-button">
                        <i class="bi bi-tag"></i> <!-- Icône pour créer une nouvelle vente -->
                    </button>
                </form>
                <form method="get" action="/profil">
                    <button class="eni-button" style="margin-left: 10px">
                        <i class="bi bi-gear"></i> <!-- Icône pour acceder au profil -->
                    </button>
                </form>
                <form th:action="@{/logout}" method="post" style="display: flex; justify-content: center; align-items: center;">
                    <button class="eni-important-button" id="logout" style="margin-top: 0; margin-left: 10px" th:text="#{button_disconnect}"></button>
                </form>
                <form method="get" onchange="this.submit()" style="align-content: center; display: flex;">
                    <select name="lang" class="eni-lang-selector">
                        <option th:text="#{langue}"></option>
                        <option value="fr" th:selected="${#locale == 'fr'}">FR 🇫🇷</option>
                        <option value="en" th:selected="${#locale == 'en'}">EN 🇬🇧</option>
                    </select>
                </form>
            </section>
            <section sec:authorize="!isAuthenticated()" style="display: flex; justify-content: right;">
                <form method="get" action="/connection">
                    <button class="eni-important-button" style="margin-top: 0; margin-left: 10px" th:text="#{button_connect}"></button>
                </form>
                <form method="get" onchange="this.submit()" style="align-content: center; display: flex;">
                    <select name="lang" class="eni-lang-selector">
                        <option th:text="#{langue}"></option>
                        <option value="fr" th:selected="${#locale == 'fr'}">FR 🇫🇷</option>
                        <option value="en" th:selected="${#locale == 'en'}">EN 🇬🇧</option>
                    </select>
                </form>
            </section>
        </nav>
    </div>

    <script>
        function updateLogoutButton() {
            const logoutButton = document.getElementById("logout");
            if (window.innerWidth <= 800) {
                logoutButton.innerHTML = '<i class="bi bi-chevron-bar-right"></i>';
            } else {
                logoutButton.innerHTML = 'Déconnexion';
            }
        }

        // Appel initial
        updateLogoutButton();

        // Réagir au redimensionnement
        window.addEventListener("resize", updateLogoutButton);
    </script>
</header>