body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    color: var(--clr-text);
}

main {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #333;
}

input[type="text"], input[type="number"], input[type="date"], input[type="search"], select,
input[type="password"] {
    width: 95%;
    padding: 0.75rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

select {
    background-color: var(--clr-white);
    width: 100%;
}

header {
    width: 100%;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="search"]:focus, select:focus
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

@media (max-width: 700px) {
    body {
        padding: 1.5em 1rem;
    }

    form {
        padding: 0rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

/* ENI CSS */
/* VARIABLES */

:root {
    --clr-primary: #004aaa;
    --clr-secondary: #002888;
    --clr-text: #2e2e2e;
    --clr-light-text: #4a4a4a;
    --clr-success-bg: rgba(167, 191, 161, 0.5);
    --clr-success: #216100;
    --clr-sucess-dark-bg: #184900;
    --clr-warning-bg: #bf937d;
    --clr-warning: #bf3f00;
    --clr-warning-dark-bg: #832a00;
    --clr-danger-bg: #dca3a3;
    --clr-danger: #980000;
    --clr-danger-dark-bg: #600000;
    --clr-white: #fff;
    --clr-black: #000;
}

/* TEXTS */

.eni-label {
    color: var(--clr-light-text);
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.eni-error-text {
    color: var(--clr-danger);
    text-align: center;
}

.eni-link {
    color: var(--clr-primary);
    text-decoration: none;
    cursor: pointer;
}

.eni-link:hover {
    color: var(--clr-secondary);
    text-decoration: underline;
}

/* INPUTS */

.eni-text-input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.eni-radio-input-container {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.checkbox-input-label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #555;
}

/* BUTTONS */

.eni-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    background-color: var(--clr-primary);
    color: var(--clr-white);
    transition: background-color 0.3s;

    text-align: center;
    font-weight: bold;

    border: 2px solid var(--clr-primary);
    border-radius: 12px;

    cursor: pointer;
}
.eni-button:hover {
    background-color: var(--clr-secondary);
}

.eni-important-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    background-color: var(--clr-white);
    color: var(--clr-primary);
    transition: all 0.3s ease;

    text-align: center;
    font-weight: bold;

    border: 2px solid var(--clr-primary);
    border-radius: 12px;

    cursor: pointer;
}
.eni-important-button:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}

.eni-success-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    background-color: var(--clr-success);
    color: var(--clr-white);
    transition: background-color 0.3s;

    text-align: center;
    font-weight: bold;

    border: 2px solid var(--clr-success);
    border-radius: 12px;

    cursor: pointer;
}
.eni-success-button:hover {
    background-color: var(--clr-sucess-dark-bg);
}

.eni-success-important-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    background-color: var(--clr-white);
    color: var(--clr-success);
    transition: all 0.3s ease;

    text-align: center;
    font-weight: bold;

    border: 2px solid var(--clr-success);
    border-radius: 12px;

    cursor: pointer;
}
.eni-success-important-button:hover {
    background-color: var(--clr-sucess-dark-bg);
    color: var(--clr-white);
}

.eni-danger-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    background-color: var(--clr-danger);
    color: var(--clr-white);
    transition: background-color 0.3s;

    text-align: center;
    font-weight: bold;

    border: 2px solid var(--clr-danger);
    border-radius: 12px;

    cursor: pointer;
}
.eni-danger-button:hover {
    background-color: var(--clr-danger-dark-bg);
}

.eni-danger-important-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    background-color: var(--clr-white);
    color: var(--clr-danger);
    transition: all 0.3s ease;

    text-align: center;
    font-weight: bold;

    border: 2px solid var(--clr-danger-dark-bg);
    border-radius: 12px;

    cursor: pointer;
}
.eni-danger-important-button:hover {
    background-color: var(--clr-danger-dark-bg);
    color: var(--clr-white);
}

/* CONTAINERS */

.eni-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.eni-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    color: var(--clr-danger);
}

.eni-succes-container {
    background-color: var(--clr-success-bg);
    color: var(--clr-success);
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.eni-box-container {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.eni-box-content {
    flex-direction: column;
    padding: 0.5rem;
    box-sizing: border-box;
    align-content: center;
}

.eni-box-content a {
    font-weight: bold;
    font-size: 1rem;
    color: var(--clr-primary);
    text-decoration: none;
}

.eni-box-content p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
}

.eni-action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
    flex-wrap: wrap;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eni-small-image-container {
}

/* IMAGES */

.eni-picture-image {
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-right: 1rem;
}

.eni-encheres-logo {
    height: 5rem;
}

/* TITLES */

.eni-h2 {
    margin-top: 0;
}