<!-- error.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr" layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Erreur générique !</title>
</head>
<body>
<main layout:fragment="content">
  <div class="eni-box-container" style="display: block">
    <h2 class="eni-h2">Oh non ! Une erreur est survenue !</h2>
    <div class="eni-important-button" th:onclick="|location.href='@{/}'|">Revenir en lieu sûr</div>
  </div>
  <div class="eni-danger-container" style="display: block">
    <h2 class="eni-h2">Erreur <span th:text="${error}"></span></h2>

    <div class="eni-box-content" style="width: 100%;">
      <p th:text="${message}"></p>
    </div>

  </div>

  <div class="eni-medium-image-container">
    <img class="eni-picture-image" src="/imgs/error.png" alt="Image du produit" style="width: 100%;"/>
  </div>

</main>
</body>
</html>
