<!-- layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title" th:text="#{default_title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<header th:replace="~{fragments/header}"></header>

<main layout:fragment="content"></main>

<footer style="text-align: center;">
    <p th:utext="#{footer_text}"></p>
    <a href="https://www.canva.com/design/DAGljqq0BCY/iP_7YJeAnk_tV49Qz8DnIg/edit?utm_content=DAGljqq0BCY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">
        Diaporama de présentation de projet
    </a>
</footer>

</body>
</html>
