<!-- login.html --><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout}">
<head><title layout:fragment="title">Page d'acceuil</title></head>
<body>

<main layout:fragment="content">
    <div th:if="${success}" class="eni-danger-container">
        <div class="eni-box-content" style="width: 100%;"><p>Compte supprimé.</p></div>
    </div>
    <div th:if="${successdeletearticle}" class="eni-danger-container">
        <div class="eni-box-content" style="width: 100%;"><p>Article supprimé.</p></div>
    </div>
    <div class="eni-box-container" style="display: block"><h2 class="eni-h2">Filtres</h2>
        <div class="eni-box-content">
            <form method="get" th:action="@{/encheres/filtre}" style="width: 100%">
                <section sec:authorize="isAuthenticated()">
                    <label class="eni-label">Achats</label>
                    <div class="eni-radio-input-container">

                        <input type="checkbox" id="EncheresOuvertes" name="filtresAchat" value="EncheresOuvertes"
                               th:checked="${filtresAchat != null and filtresAchat.contains('EncheresOuvertes')}" />
                        <label for="EncheresOuvertes">Enchères ouvertes</label>
                        <br>
                        <input type="checkbox" id="MesEncheresEnCours" name="filtresAchat" value="MesEncheresEnCours"
                               th:checked="${filtresAchat != null and filtresAchat.contains('MesEncheresEnCours')}" />
                        <label for="MesEncheresEnCours">Mes enchères en cours</label>
                        <br>
                        <input type="checkbox" id="MesEncheresRemportees" name="filtresAchat" value="MesEncheresRemportees"
                               th:checked="${filtresAchat != null and filtresAchat.contains('MesEncheresRemportees')}" />
                        <label for="MesEncheresRemportees">Mes enchères remportées</label>
                        <br>
                    </div>
                    <br>
                    <label class="eni-label">Mes ventes</label>
                    <div class="eni-radio-input-container">
                        <input type="checkbox" id="VentesNonDebutees" name="filtresVente" value="VentesNonDebutees"
                               th:checked="${filtresVente != null and filtresVente.contains('VentesNonDebutees')}" />
                        <label for="VentesNonDebutees">Mes ventes non débutées</label>
                        <br>
                        <input type="checkbox" id="VentesEnCours" name="filtresVente" value="VentesEnCours"
                               th:checked="${filtresVente != null and filtresVente.contains('VentesEnCours')}" />
                        <label for="VentesEnCours">Mes ventes en cours</label>
                        <br>
                        <input type="checkbox" id="VentesTerminees" name="filtresVente" value="VentesTerminees"
                               th:checked="${filtresVente != null and filtresVente.contains('VentesTerminees')}" />
                        <label for="VentesTerminees">Mes ventes terminées</label>
                        <br>
                    </div>
                </section>
                <label for="categorie" class="eni-label">Catégorie</label> <select class="eni-select" name="idCategorie" id="categorie">
                <option value="">-- Toutes les catégories --</option>
                <option th:each="categorie : ${categories}"
                        th:value="${categorie.id}"
                        th:text="${categorie.libelle}"
                        th:selected="${idCategorie != null and categorie.id == idCategorie}">

                </option>
            </select>

                <label for="recherche" class="eni-label">Recherche par nom</label>
                <input class="eni-text-input" type="search" id="recherche" name="recherche" placeholder="Rechercher un article" style="width: 100%;" th:value="${recherche}"
                       pattern="[a-zA-Z0-9À-ÿ\s\-]*" title="Seuls les lettres (avec ou sans accent) et les chiffres sont autorisés">
                <button class="eni-important-button" type="submit" style="width: 100%; margin-top: 1rem">Recherche
                </button>
            </form>
        </div>
    </div>
    <div class="product-list">
        <div th:each="article : ${articles}" class="eni-box-container">
            <img class="eni-picture-image" th:if="${article.photoPath != null}" th:src="${article.photoPath}" alt="Image produit" style="width: 9em; height: 9em;" />
            <img class="eni-picture-image" th:unless="${article.photoPath != null}" th:src="@{/imgs/placeholder.png}" alt="Image placeholder" style="width: 9em; height: 9em;" />

            <div class="eni-box-content" style="width: 100%;">
                <a th:href="@{'/details/' + ${article.id}}" th:text="${article.nom} + ' (' + (${article.categorie} != null ? ${article.categorie.libelle} : 'Aucune catégorie') + ')'">titre</a>
                <p>Description : <span th:text="${article.getDescription()}"></span></p>
                <p>Prix : <span th:text="${article.prixVente != null ? article.prixVente :article.miseAPrix}" style="font-weight: bold;">prix</span><span
                        style="font-weight: bold;"> PTS</span></p>
                <p>Classement : <span th:text="${article.id}">classement</span></p>
                <span th:text="${article?.vendeur?.pseudo ?: 'Vendeur inconnu'}" style="font-weight: bold;">
                        vendeur
                    </span>
                <p style="justify-content: right; display: flex;">fin le :
                    <span th:text="' ' + ${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')}" style="font-weight: bold;">
                        date_fin
                    </span>
                </p>
            </div>
        </div>
    </div>
    </div>
    
    <div sec:authorize="isAuthenticated()" class="texte-flottant"><strong th:text="'Crédits de ' + ${utilisateurConnecte.pseudo} + ' : ' + ${utilisateurConnecte.credit} + ' PTS'" style="color: white"></strong></div>
</main>

</body>
</html>