<!-- motDePasseReinitialisation.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Réinitialisation du mot de passe</title>
</head>
<body>

<main layout:fragment="content">
    <div class="eni-box-container" style="display: block">
        <h2 class="eni-h2">Réinitialisation du mot de passe</h2>

        <div class="eni-box-content">
            <p>Veuillez saisir un nouveau mot de passe.</p>
            <br>
            <form th:action="@{/motdepasse/reinitialisation/{token}(token=${token})}" method="post">
                <input type="hidden" th:value="${token}" name="token"/>

                <label class="eni-label" for="motdepasse">Nouveau mot de passe :</label><br>
                <input type="password" id="motdepasse" name="motdepasse" required><br><br>

                <label class="eni-label" for="confirmmotdepasse">Confirmer votre mot de passe :</label><br>
                <input type="password" id="confirmmotdepasse" name="confirmmotdepasse" required><br><br>
                
                <button class="eni-button" type="submit">Réinitialiser le mot de passe</button>
                <button class="eni-important-button" th:onclick="|location.href='@{/}'|">Retour</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>