<!-- motDePasseReinitialisation.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="fr"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title" th:text="#{newpassword_title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="eni-box-container" style="display: block">
        <h2 class="eni-h2" th:text="#{newpassword_title}"></h2>

        <div class="eni-box-content">
            <p th:text="#{newpassword_instruction}"></p>
            <br>
            <form th:action="@{/motdepasse/reinitialisation/{token}(token=${token})}" method="post">
                <input type="hidden" th:value="${token}" name="token"/>

                <label class="eni-label" for="motdepasse" th:text="#{newpassword_password}"></label><br>
                <input type="password" id="motdepasse" name="motdepasse" required><br><br>

                <label class="eni-label" for="confirmmotdepasse" th:text="#{profil_password_confirm}"></label><br>
                <input type="password" id="confirmmotdepasse" name="confirmmotdepasse" required><br><br>
                
                <button class="eni-button" type="submit" th:text="#{newpassword_changepassword}"></button>
                <button class="eni-important-button" th:onclick="|location.href='@{/}'|">Retour</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>