<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr" layout:decorate="~{layout}">
<head>
  <title layout:fragment="title">Création compte</title>
</head>
<body>
<main layout:fragment="content">

  <form class="n-form" th:action="@{/profil}" method="post">

      <div class="form-element">
        <label>Pseudo</label>
        <input type="text" th:field="*{utilisateur.pseudo}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
      </div>

    <div class="form-element">
      <label>Nom</label>
      <input type="text" th:field="*{utilisateur.nom}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Prénom</label>
      <input type="text" th:field="*{utilisateur.prenom}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Email</label>
      <input type="text" th:field="*{utilisateur.email}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Téléphone</label>
      <input type="text" th:field="*{utilisateur.telephone}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Rue</label>
      <input type="text" th:field="*{utilisateur.rue}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Code Postal</label>
      <input type="text" th:field="*{utilisateur.codePostal}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Ville</label>
      <input type="text" th:field="*{utilisateur.ville}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <div class="form-element">
      <label>Pseudo</label>
      <input type="password" th:field="*{utilisateur.motDePasse}"> <!--je veux mettre à jour via ce champs l'attribut "titre" de mon objet genre-->
    </div>

    <label for="confirmpassword">Confirmation :</label>
    <input type="password" id="confirmpassword" name="confirmpassword"/>

    <div class="actions">
      <button type="submit">Créer</button>
    </div>


    <div class="actions">
      <button type="reset" th:onclick="|location.href='@{/connection}'|">Annuler</button>
    </div>
  </form>





</main>
</body>
</html>
