<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr" layout:decorate="~{layout}">
<head>
  <title layout:fragment="title" th:text="${#authorization.expression('isAuthenticated()') ? 'Profil' : 'Création compte'}"></title>
</head>
<body>
  <main layout:fragment="content">

    <div th:if="${success}" class="eni-succes-container">
      <div class="eni-box-content" style="width: 100%;">
        <p>Modifications effectuées.</p>
      </div>
    </div>

    <div sec:authorize="!isAuthenticated()">

      <div class="eni-box-container" style="display: block">
        <h2 class="eni-h2">Inscription</h2>
        <div class="eni-box-content">

          <form class="n-form" th:action="@{/profil/nouveau}" method="post">
            <label class="eni-label">Pseudo</label>
            <input type="text" th:field="*{utilisateur.pseudo}" required pattern="[a-zA-Z0-9]+"
                   title="Seul les lettres et les chiffres sont acceptés">
            <br><br>
            <label class="eni-label">Nom</label>
            <input type="text" th:field="*{utilisateur.nom}">
            <br><br>
            <label class="eni-label">Prénom</label>
            <input type="text" th:field="*{utilisateur.prenom}">
            <br><br>
            <label class="eni-label">Email</label>
            <input type="text" required th:field="*{utilisateur.email}">
            <br><br>
            <label class="eni-label">Téléphone</label>
            <input type="text" th:field="*{utilisateur.telephone}">
            <br><br>
            <label class="eni-label">Rue</label>
            <input type="text" required th:field="*{utilisateur.rue}">
            <br><br>
            <label class="eni-label">Code postal</label>
            <input type="text" required th:field="*{utilisateur.codePostal}">
            <br><br>
            <label class="eni-label">Ville</label>
            <input type="text" required th:field="*{utilisateur.ville}">
            <br><br>
            <label class="eni-label">Mot de passe</label>
            <input type="password" required th:field="*{utilisateur.motDePasse}">
            <br><br>
            <label class="eni-label">Confirmation mot de passe</label>
            <input type="password" required name="confirmationMotDePasse">
            <br><br>
            <div th:if="${error}" class="eni-error-text">
              <p th:text="${error}"></p>
            </div>

            <button class="eni-button" type="submit">Créer</button>
            <button class="eni-important-button" type="reset" th:onclick="|location.href='@{/connection}'|">Annuler</button>
          </form>
        </div>
      </div>
    </div>
    <div sec:authorize="isAuthenticated()">
      <div class="eni-box-container" style="display: block">
        <h2 class="eni-h2">Profil</h2>
        <div class="eni-box-content">

          <form class="n-form" th:action="@{'/profil/'+${utilisateur.id}}" method="post" th:object="${utilisateur}">

            <label>Pseudo</label>
            <input type="text" th:field="*{pseudo}" required pattern="[a-zA-Z0-9]+" title="Seul les lettres et les chiffres sont acceptés">
            <br><br>
            <label>Nom</label>
            <input type="text" th:field="*{nom}">
            <br><br>
            <label>Prénom</label>
            <input type="text" th:field="*{prenom}">
            <br><br>
            <label>Email</label>
            <input type="text" required th:field="*{email}">
            <br><br>
            <label>Téléphone</label>
            <input type="text" th:field="*{telephone}">
            <br><br>
            <label>Rue</label>
            <input type="text" required th:field="*{rue}">
            <br><br>
            <label>Code postal</label>
            <input type="text" required th:field="*{codePostal}">
            <br><br>
            <label>Ville</label>
            <input type="text" required th:field="*{ville}">
            <br><br>
            <label>Mot de passe</label>
            <input type="password" th:field="*{motDePasse}">
            <br><br>
            <label>Confirmation mot de passe</label>
            <input type="password" name="confirmationMotDePasse">
            <br><br>

            <div th:if="${error}" class="eni-error-text">
              <p th:text="${error}"></p>
            </div>
            <br>

            <button class="eni-button" type="submit">Enregistrer</button>
            <button class="eni-important-button" type="reset" th:onclick="|location.href='@{/connection}'|">Annuler</button>

          </form>
        </div>
        <script>
          function confirmerSuppression() {
            return confirm("Attention, cette action est irréversible ! Êtes-vous sur de vouloir supprimer le compte ?");
          }
        </script>
      </div>

      <div class="eni-danger-container" style="background-color: var(--clr-white);">
        <div class="eni-box-content" style="width: 100%;">

          <form th:action="@{/profil/delete}" method="post" onsubmit="return confirmerSuppression();">
            <input type="hidden" name="idToDelete" th:value="${utilisateur.id}" />
            <button class="eni-danger-button" style="width: 100%">
              Supprimer le compte !
            </button>
          </form>

        </div>
      </div>

    </div>
  </main>
</body>
</html>
